
{% extends "layout.twig" %}

{% block content %}

<div class="canvas">
    <header class="bk-header">
        <div class="wrapper clearfix">
            {% if pages|length > 1 %}
                {{widget('extendednavigation', 'navigationheader', {})|raw}}
            {% endif %}
            <div class="companyheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                    <div class="companytitle">
                        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                    </div>
                {{widget('menusections', 'menusections1', {})|raw}}
            </div>
        </div><!--end wrapper clearfix-->
    </header>

    {{widget('menu', 'menu1', {})|raw}}

    <div class="wrapper">
        {{zone('main')|raw}}
    </div>

    <footer class="bk-footer">
        <div class="wrapper clearfix">
            {{widget('image', 'footercolumn1image', { 'src': asset('images/footer-image.png'), 'title': '', 'alt': '', 'fileName': 'footer-image.png', 'fileSize': '58kb', 'imageSize': '269 x 237', 'imageWidth': '269'})|raw}}
            {{widget('profile', 'address', { 'profileType':'address', 'address':'profile'})|raw}}
            {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile'})|raw}}
        </div>
    </footer>

</div>

{% endblock %}
